body {
 height: 5000vh;
 font-family: sans-serif;
 line-height: 1.5;
 color: rgb(0, 0, 0);
 background-color: #d6d4d4;
 }

.btn {
  border-radius: 10px;
  width: 200px;
  height: 50px;
  cursor: pointer;
}

:hover.btn {
  color: rgb(134, 44, 44);
  background-color: rgb(232, 233, 233);
}

input {
  width: 100%;
  max-width: 320px;
  padding: 8px;
  font: inherit;
  letter-spacing: inherit;
  height: 20px;
}